.ContactUs {
  height: fit-content;
  margin-top: 100px;
  padding: 40px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  text-justify: inter-character;
  text-align: justify-all;

  &__Head {
    font-family: "Afterglow";
    font-size: 18pt;
    // text-decoration: underline;
    // border-bottom: 1px solid white;
  }

  &__Text {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;

    & > div {
      width: 80px;
      text-align: left;
    }

    & > img {
      margin-right: 10px;
      border-radius: 4px;
    }
  }
}
