@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  line-height: 1.8em;
  color: #666;
  overflow: hidden;
  scroll-behavior: smooth;
}

.Red {
  color: #531741;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.img1 {
  height: 100%;
  width: 100%;
  filter: blur(6px);
  z-index: -5;
  background-image: url("./resources/images/home-welcome.jpg");
  background-size: cover;
}

.Content {
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .Top {
    background-color: #2b2925;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    color: rgb(216, 214, 214);
    font-size: 10pt;
    letter-spacing: 1px;

    &__Left {
      display: flex;

      &--item {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 40px;

        img {
          margin-right: 10px;
        }
      }
    }

    &__Right {
      display: flex;
      align-items: center;
      img {
        margin: 0 10px;
        cursor: pointer;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }

  .Nav {
    z-index: 2;
    // background-color: #b6823e67;
    background-color: #8a877da2;
    border-bottom: 2px solid #000000;
    border-top: 3px solid #531741;
    color: #100d07;
    padding: 10px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 15pt;
    font-weight: bold;
    font-family: "Roboto Slab", serif;

    &__Left {
      width: 20%;
      padding: 0 0 0 50px;
    }

    &__Right {
      width: 75%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &--item {
        box-sizing: border-box;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        margin: 5px;
        padding: 5px 0;

        transition-property: all;
        transition-duration: 300ms;

        &:hover {
          cursor: pointer;
          border-bottom: 3px solid rgba(0, 0, 0, 1);
        }
      }
    }
  }

  .Slide-container {
    width: 70%;
    height: fit-content;
    margin: 70px auto 0 auto;
    background-color: rgba(41, 40, 35, 0.144);
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.452);

    &__slide {
      height: 100%;
    }

    .slide-image {
      height: 420px;
      width: 100%;
    }
  }

  .AboutUs {
    color: #100d07;
    box-sizing: border-box;
    width: 80%;
    font-size: 20pt;
    line-height: 25px;
    background-color: #c4bfc4ab;
    padding: 10px 0 40px 0;
    text-align: center;
    margin: 150px auto 0 auto;
    border-left: 2px solid #531741;
    border-right: 2px solid #531741;
    font-family: "Roboto Slab", serif;

    & > h2 {
      color: #1f1312;
      font-size: 30pt;
    }

    &__Text {
      font-family: "Roboto Slab", sans-serif;
      width: 90%;
      margin: 0 auto;
      color: #1f1818;
      font-size: 14pt;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .Experience {
    width: 80%;
    height: 280px;
    background-color: #c4bfc4ab;
    border-left: 2px solid #531741;
    border-right: 2px solid #531741;

    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__Card {
      color: #291a2d;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 6px rgb(63, 63, 63);
      width: 16%;
      height: 60%;
      background-color: rgb(241, 241, 241);
      padding: 2.5% 20px;

      font-size: 10pt;
      font-weight: 500;
      font-family: "Roboto Slab", serif;
      box-sizing: border-box;
      text-align: center;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      transition: all;
      transition-duration: 500ms;
      cursor: default;

      &:hover {
        transform: scale(1.05);
      }
    }

    .card-image {
      height: 60%;
      margin-bottom: 20px;
    }

    .card-text {
      height: 40%;
      width: 80%;
      display: flex;
      align-items: center;
    }
  }

  .KnowMore {
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 20px;
    color: #100d07;
    border: 1px solid #531741;
    border-radius: 5px;
    background-color: #c4bfc4ab;
    margin: 150px auto 0 auto;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    transition: all;
    transition-duration: 100ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }

  .footer {
    margin-top: 100px;
    display: flex;
    background-color: rgba(37, 37, 37, 0.637);
    height: 300px;
    width: 100%;
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
    font-family: "Roboto Slab", serif;
    font-size: 11pt;
  }

  .footer > div {
    box-sizing: border-box;
    height: 80%;
    width: 30%;
    margin-top: 10px;
    padding: 10px;
  }

  .footer > div > h2 {
    font-weight: lighter;
    text-align: center;
  }

  .footer-text {
    box-sizing: border-box;
    padding-left: 40px;
  }

  .footer > div > div {
    font-size: 10pt;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 15px;
  }
}

.Company {
  display: none;
  transition: all;
  transition-duration: 200ms;
  width: 85%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  color: #100d07;

  &__Video {
    margin: 100px 0 0 0;
  }

  &__Mission {
    width: 100%;
    background-color: #c4bfc4ab;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: 100px 0 0 0;
    border-left: 2px solid #531741;
    border-right: 2px solid #531741;

    &--heading {
      font-size: 28pt;
      line-height: 30pt;
    }

    &--text {
      font-size: 16pt;
      line-height: 25pt;
      font-family: "Roboto Slab", sans-serif;
    }
  }

  &__Production {
    width: 100%;
    background-color: #c4bfc4ab;
    padding: 30px 20px;
    margin-top: 100px;
    box-sizing: border-box;
    border-left: 2px solid #531741;
    border-right: 2px solid #531741;

    &--heading {
      font-size: 28pt;
      line-height: 30pt;
    }

    &--text {
      font-size: 15pt;
      line-height: 25pt;
      font-family: "Roboto Slab", sans-serif;
    }
  }

  &__Processes {
    width: 100%;
    background-color: #c4bfc4ab;
    padding: 30px 20px;
    margin-top: 100px;
    box-sizing: border-box;
    border-left: 2px solid #531741;
    border-right: 2px solid #531741;

    &--heading {
      font-size: 28pt;
      line-height: 30pt;
    }

    &--process {
      display: flex;
      align-items: center;
      margin-top: 50px;

      .Process-image {
        background-color: #2e331e;
        padding: 15px;
        border-radius: 1000px;
        width: 700px;
        height: 320px;
        overflow: hidden;
        z-index: 2;

        &--img {
          background-image: url("./resources/p1.JPG");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          width: 100%;
          height: 100%;
          border-radius: 1000px;
          border: 5px solid #c4bfc4;
          box-sizing: border-box;
        }
      }

      .Process-text {
        background-color: #d7d4d4;
        height: 200px;
        transform: translateX(-50px);
        z-index: 1;
        padding: 0 20px 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--heading {
          font-size: 25pt;
          line-height: 20pt;
        }

        &--text {
          margin-top: 15px;
          font-size: 12pt;
          line-height: 20pt;
        }
      }
    }
  }

  &__WhyUs {
    width: 70%;
    background-color: #c4bfc4ab;
    padding: 30px 20px;
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
  }

  &__Certifications {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    background-color: #c4bfc4ab;
    padding: 30px 20px;
    margin-top: 100px;
  }
}
