.TextBox {
  color: #100d07;
  box-sizing: border-box;
  width: 80%;
  height: fit-content;
  background-color: #c4bfc4ab;
  text-align: center;
  margin: 100px auto 0 auto;
  padding: 30px 10px 10px 10px;
  border-left: 2px solid #531741;
  border-right: 2px solid #531741;

  &__Heading {
    font-family: "Afterglow";
    font-size: 40pt;
  }

  &__Body {
    font-size: 14pt;
    font-weight: 450;
    line-height: 20pt;
  }
}
