.image {
  filter: blur(0px);
  transition: all;
  transition-duration: 200ms;
}

.categoryButtons {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  border-radius: 3px;
  opacity: 0.8;
  font-weight: 600;
  font-size: 13pt;
  border: 2px solid #421234;
  transition: all;
  transition-duration: 200ms;
  //   font-family: "Afterglow";
  //   letter-spacing: 1.5px;
}

.categoryButtons:hover {
  background-color: #421234;
  color: white;
  border: 2px solid white;
  opacity: 1;
  font-size: 12.5pt;
}

.imageHolder {
  position: relative;
  transition: all;
  transition-delay: 200ms;
}

.image:hover {
  transform: scale(1.05);
}
