.HomeSlideshow {
  margin-top: 50px;
  height: 400px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.each-slide > div {
  height: 400px;
}
